* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
ul,
li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: white;
}

body {
    background-color: #f8f9fa;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font: normal 400 1.5em 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.795);
}

h2 {
    font: normal 200 1.2em 'Open Sans', sans-serif;
}

.p-1 {
    padding: 0.2em 0;
}

.p-2 {
    padding: 0.4em 0;
}

.p-3 {
    padding: 0.6em 0;
}

.p-4 {
    padding: 0.8em 0;
}

.p-5 {
    padding: 1em 0;
}

.p-6 {
    padding: 1.5em 0;
}

.m-1 {
    margin: 0.2em 0;
}

.m-2 {
    margin: 0.4em 0;
}

.m-3 {
    margin: 0.6em 0;
}

.m-4 {
    margin: 0.8em 0;
}

.m-5 {
    margin: 1em 0;
}

.m-6 {
    margin: 1.5em 0;
}